<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesForce App Test Suite">
	<!-- <listeners>
		<listener class-name="com.salesforce.qa.base.TestListener" />
	</listeners> -->
     
  <test name="Salesforce App Test Cases">
  	<classes>
     	<class name="com.salesforce.qa.testcases.LoginPageTest"/>
      	<class name="com.salesforce.qa.testcases.AccountPageTest"/>
      </classes>
  </test> 
</suite>