<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesForce App Test Suite">
<!-- <suite name="SalesForce App Test Suite" parallel = "classes" thread-count="3"> -->
	<!-- <listeners>
		<listener class-name="com.salesforce.qa.base.TestListener" />
	</listeners> -->
     
  <test name="Salesforce App Test Cases - Chrome Browser">
  	<classes>
    	<!--<class name="com.salesforce.qa.testcases.LoginPageTest"/>
      	<class name="com.salesforce.qa.testcases.AccountPageTest"/> -->
      	<class name="com.salesforce.qa.testcases.SetUpTest_ObjectRepository"/>
    </classes>
  </test> 
  
 <!--  <test name="Salesforce App Test Cases - Edge Browser">
  <parameter name="browser" value="edge" />
  	<classes>
     	<class name="com.salesforce.qa.testcases.LoginPageTest"/>
      	<class name="com.salesforce.qa.testcases.AccountPageTest"/>
      	<class name="com.salesforce.qa.testcases.SetUpTest_ObjectRepository"/>
    </classes>
  </test>  -->
</suite>